@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  background-image: url(https://i.pinimg.com/originals/6c/18/cf/6c18cfea1f788b7ffa8b56f6b5cfba97.jpg);
  background-size: cover;
  background-attachment: fixed;
}

/* tirando os pontinho da lista*/
li {
  list-style-type: none;
}

/*Cabeçalho*/
.cabecalho {
  background-color: #28184d;
  opacity: 80%;
  align-items: center;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo-header {
  margin-left: 90px;
}

#img-logo-lol {
  width: 150px;
}

#txt-escolha-campeao {
  color: #fff;
  font-size: 30px;
  font-family: 'Orbitron', sans-serif;
}

.navegadores {
  margin-right: 70px;
}

#txt-pesquisa {
  background-color: #150932;
  width: 200px;
  height: 35px;
  margin-right: 30px;
  border-radius: 20px;
  border: 10px solid #150932;
  padding: 10px;
  color: #fff;
  font-family: 'Unbounded', cursive;
}

#jogue-agora {
  background-color: #150932;
  padding: 0 10px;
  border: 10px solid #150932;
  border-radius: 20px;
  color: #fff;
  text-decoration: none;
  font-family: 'Unbounded', cursive;
}


/*Menu lateral*/
.conteudo-lateral {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  
}

.barra-lateral {
  width: 20%;
  padding: 10px;
  
}

.opcoes-barra-lateral {
  padding: 15px 0;
}

/*testeeeee */

.botoes {
  background-color: #160a34;
  opacity: 80%;
  border-radius: 100px; 
  border: 2px solid #180a39;
  padding: 10px 15px;
  margin-left: 80px;
  color: #ede4e4;
  text-decoration: none;
  font-size: 14px;
  font-family: 'Unbounded', cursive;
}


#botao-sobre {
  margin-left: 110px;
}

.separador {
  margin: 10px 40px 0 40px;
}

#txt-buscar {
  color: #fff;
  text-align: center;
  font-family: 'Unbounded', cursive;
}

.lista-seletores{
  opacity: 80%;
  background: #150932;
  border-radius: 100px;
  border: 2px solid #150931;
  padding: 10px 15px;
  margin-left: 80px;
  color:#fff;
  text-align: center;
  font-family: 'Unbounded', cursive;
}

#ordenar {
  margin-top: 10px;
}

/*Rodapé*/
.rodape {
  color: #fff;
}



/*Rodapé*/
.rodape {
  color: #fff;
  text-align: center;
  font-family: 'Unbounded', cursive;
  background-color: #371662;
  padding-bottom: 10px;
}

.contato {
  padding: 8px;
}


.contato-aluna a {
  font-size: 0.35cm;
  color: #fff;
  margin-bottom: 15;
}
.nome-aluna {
  font-size: 15;
  color: rgb(202, 165, 233);
  margin-bottom: 15;
  padding: 8px 8px 0 8px;
}


#conteudo-sobre {
  background-color: #150932;
  color:#fff;
  opacity: 70%;
  margin-top: 30px;
  margin-right: 100px;
} 


/* estilização da barra de rollagem */
::-webkit-scrollbar-track {
  background-color: #12031b;
}
::-webkit-scrollbar {
  width: 10px;
  background: #bd68f1;
}
::-webkit-scrollbar-thumb {
  background: #391765;
}

/*Estilização da classe do <main> dos cards*/
.container-card{
    position: relative;
    margin-top: 15px;
    display: flex; 
    flex-wrap: wrap;/*formato lista na vertical */
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

/*Estilização do background dos cards*/
.cards{
  width:400px;
  height:290px;
  margin: 10px;
  display: inline-flex;
  border-radius: 20px;
  align-items: center;
  
}

/*conteudo dos cards */
.conteudo-cards {
  grid-area: main;
  width: 80%;
}


/*Estilização da imagem dos personagens nos cards*/
.card-img{
    margin-right: 5%;
    margin-left: 5%;
    margin-top: -7%;
    position:relative;
    max-width:360px;
    max-height:300px;
    border-radius: 25px;
    /*transition: transform 0.8s;*/
    /*transform-style: preserve-3d;*/
    box-shadow: 0 0 8px 0 rgba(227, 2, 252, 0.897);
    cursor: pointer;
    padding-left: -50px;
    padding-right: -50px;
    align-content: center; 
    border-width: 45px;
}

/*Nome do campeão - parte da frente dos cards*/
#front-cards-txt{ 
  box-shadow: 5px 7px 20px rgba(224, 71, 147, 0.219); 
  background: #251147;
  border-radius: 10%;
  color:rgb(221, 194, 235);
  text-align: center;
  font-family: 'Unbounded', cursive;
  margin-left: 12%;
  margin-right: 5%;
  border-width: 45px;
  box-shadow: 0 0 8px 0 rgba(102, 2, 252, 0.897);
  
}

.front-cards-infos{
  position: absolute;
  backface-visibility: hidden; 
  text-align: center;
  
}

/*Estilização da parte de trás dos cars */
.back-cards-infos{
  text-align: center;
  font-size: 30px;
  position: absolute;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  
}
 /*Animação de girar o card, flip */
.flipper{
	width: 100%;
	height: 100%;
  transition: transform 0.8s;
	transform-style: preserve-3d;
  position: relative;
}
.flip-container {
  width: 300px;
  height: 200px;
  perspective: 1000px;
}

.flip-container:hover .flipper{
	transform: rotateY(180deg);
}

/*estilização da parte de trás do card*/
.back-cards-txt{
  color: rgb(211, 190, 239);
  background-color: #200b5194;
  padding: 30px;
  border-radius: 60px;
  margin-bottom: 35px;
  font-size: 29px;
  
}

#nome-campeao{
  color:#b79be8;
  background-color: #130534;
  font-size: 35px ;
}

/* estilização da pagina 2 do sobre */
#conteudo-sobre{
  font-size: 12px;
  font-family: 'Unbounded', cursive;
  text-align: justify;
  text-indent: 30px;
  letter-spacing: 0.02cm; /* tamanho do espaço entre cada letra */
  word-spacing: 3px; /* tamanho do espaço entre cada palavra */
  border-color: rgba(139, 6, 254, 0.522);
  border-style: solid;
  border-width: 5px;
  padding: 30px;
}
