@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.principal {
  display: grid;
  grid-template-areas:
    "header header"
    "aside main"
    "footer footer";
  grid-gap: 5px;
  grid-template-columns: 20% 80%;
  grid-template-rows: 100px 560px 50px;
}

.cabecalho {
  grid-area: header;
}

.barra-lateral {
  grid-area: aside;
  margin: 50px 35px 35px 35px;
}

.conteudo-cards {
  grid-area: main;
}

.rodape {
  grid-area: footer;
}

.cabecalho {
  background-color: #28184d;
  opacity: 80%;
  padding: 0px 10px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#img-logo-lol{
  width: 150px;
  margin-left: 80px;
}

#txt-escolha-campeao {
  color: #fff;
  text-align: center;
  padding: 15px 5px;
  font-size: 30px;
  font-family: 'Orbitron', sans-serif;
}

.jogue-agora {
  width: 60%;
  padding: 10px 15px;
  background-color: #150932;
  border-radius: 100px; 
  text-align: center;
  text-decoration: none;
  color: #fff;
  margin-right: 100px;
  margin-left: 40px;
  font-family: 'Unbounded', cursive;
}

#txt-pesquisa {
  background-color: #150932;
  width: 200px;
  height: 35px;
  border-radius: 100px;
  border: 8px solid #150932;
  padding: 10px;
  color: #fff;
  font-family: 'Unbounded', cursive;
}

.botoes {
  background-color: #150932;
  border-radius: 100px; 
  border: 2px solid #150932;
  padding: 10px 15px;
  margin-left: 40px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  opacity: 75%;
  font-family: 'Unbounded', cursive;
}

#botao-sobre {
  margin-left: 65px;
}

.espaco {
  margin-top: 30px;
}

#botao-todos {
  font-size: 14px;
}

#txt-buscar {
  margin-top: 20px;
  margin-bottom: 15px;
  color: #fff;
  text-align: center;
  font-family: 'Unbounded', cursive;
}

.lista-seletores{
  opacity: 75%;
  background:#150932;
  border-radius: 100px;
  border: 2px solid #150932;
  padding: 10px 15px;
  margin-bottom: 20px;
  margin-left: 40px;
  color:#fff;
  text-align: center;
  font-family: 'Unbounded', cursive;
}

#ordenar {
  margin-top: 20px;
  margin-bottom: 30px;
}

.btn-icon-header{
    display: none; /* acrescentamos os icones X e ||| e tiramos a visu para apenas aparecer em modo celular/tela pequena */
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
} /* @media no final do codigo*/


html{
    background-image: url(https://i.pinimg.com/originals/6c/18/cf/6c18cfea1f788b7ffa8b56f6b5cfba97.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* display: table; - verificar*/
    width: 100%;
    height: 100%;
}

footer {
  color: #fff;
  text-align: center;
  font-family: 'Unbounded', cursive;
}

.nome-aluna {
  font-size: 15;
  color: rgb(202, 165, 233);
  margin-bottom: 15;

} 

.contato-aluna a {
  font-size: 0.35cm;
  color: whitesmoke;
  margin-bottom: 15;
}

/*
::-webkit-scrollbar-track {
  background-color: #12031b;
}
::-webkit-scrollbar {
  width: 10px;
  background: #e7aaf0;
}
::-webkit-scrollbar-thumb {
  background: #965eb6;
}*/
